.home-container {
    min-height: 650px;
    background-color: #FFFFFF;
    font-size: 22px;
    text-align: center;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content-container h1 {
    margin-bottom: 13px;
    font-size: 1em;
    color: #FFFFFF;
}

.home-content-container p {
    width: 251px;
    font-size: 0.6em;
    line-height: 16.41px;
    color: #FFFFFF;
}

.home-card-banner {
    display: flex;
    flex-direction: column-reverse;
    background-color: #00285F;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 21px;
}

.home-image-container {
    padding: 50px 20px;
}

.home-image-container svg {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .home-container {
        font-size: 36px;
    }
    .home-content-container h1 {
        width: 420px;
        margin-bottom: 5px;
    }
    .home-content-container p {
        width: 420px;
        height: 42px;
        font-size: 18px;
        margin-bottom: 41px;
    }
    .home-image-container {
        padding: 22px 101px;
    }
    .home-image-container svg {
        width: 333px;
    }
    .home-card-banner {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        min-width: 536px;
        min-height: 365px;
    }
}

@media (min-width: 768px) {
    .home-container {
        min-height: 954px;
    }
    .home-card-banner {
        min-width: 728px;
        min-height: 475px;
        margin-bottom: 25px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .home-image-container {
        padding: 79px 198px 37px;
        
    }

    .home-content-container p {
        margin-bottom: 76px;

    }


}